.movie .movie__back {
    height: 250px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    background-color: #00000054;
    -webkit-box-shadow: inset 1px 0px 15px 10px rgba(0, 0, 0, 0.33);
    box-shadow: inset 1px 0px 15px 10px rgba(0, 0, 0, 0.33);
}

.movie {
    width: 200px;
    height: 500px;
    overflow: hidden;
}

.movie .truncate {
    width: 194px;
}

.movie .movie__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie .movie__info p,
.movie .movie__info .material-icons {
    font-size: 16px;
}

.movie .movie__info i {
    color: #fb7516
}

.movie .movie-date {
    color: #777676cf;
}

.movie .movie-title {
    color: #3e3c3c;
}

.movie .star-icon {
    color: #fb7516
}

.movie .movie__info p {
    margin: 0;
    padding: 0;
}